body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #a0eb8d;
}

.container {
    background: rgb(8, 124, 219);
    color: #fdfefd;
    padding: 20px;
    border:4px solid  #f80606;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.question {
    font-size: 18px;
    margin-bottom: 15px;
}

.input-box {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 4px solid #f80606;
    font-size: 16px;
}

.button {
    padding: 10px 15px;
    margin-top: 5px;
    background-color: #f6fcf6;
    color: rgb(21, 20, 20);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #45a049;
}

.result {
    font-size: 18px;
    margin-top: 20px;
}
